.item {
    border: 2px dashed #b1154a;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bin-text {
    border: 5px solid salmon;
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-right {
    position: fixed;
    top: 130px;
    left: 300px;
}